
.issue-card{
background:rgb(253, 253, 253);
padding:20px;
border-radius:10px;
display:flex;
flex-direction:column;
gap:10px;
width: 340px;
height: 100%;
box-shadow: 0px 0px 1px 1px gray;
}

.priority-high{border-top:4px solid #00A96E;}
.priority-medium{border-top:4px solid #00A96E;}
.priority-low{border-top:4px solid #A855F7;}
